@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "SiteMaster.cshtml";

    <section class="well well-14" id="about">
        <div class="container">
           
            @Html.Partial("Master/ContentArea")
            
            @Html.Partial("Master/SideNavigation")

        </div>
    </section>
}