@inherits UmbracoTemplatePage
@{
    <section class="well well2 parallax text-center" data-url="images/parallax1.jpg" data-mobile="true"
             data-speed="0.6">
        <div class="container">
            <h2 class="fw-l">
                Striving to excellence<br />
                in service we provide
            </h2>

            <p class="white ins1 offs1">
                We aim to provide the best service to suite your needs and meet the industry requirements and specifications.
            </p>
        </div>
    </section>

            <section class="well well5 bg1">
                <div class="container">
                    <h3 class="text-center">
                        Our Services
                    </h3>

                    <div class="row">

                        <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay=".7s">
                            <div class="thumbnail thumbnail4">
                                <img src="/Images/hydro-excavation-1.jpg" alt="">

                                <div class="caption">
                                    <h6>
                                        Trenching
                                    </h6>
                                    <p>
                                        Trenching uses pressurised water with simultaneous vacuum to cut a trench of various dimensions in the ground.
                                    </p>
                                    <a href="#" class="btn-link">
                                        <span class="fst" data-txt="Read More"></span>
                                        <span class="snd" data-txt="Read More"></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay=".5s">
                            <div class="thumbnail thumbnail4">
                                <img src="/Images/hydro-excavation-3.jpg" alt="">

                                <div class="caption">
                                    <h6>
                                        Pot Holing
                                    </h6>

                                    <p>
                                        uses hydro excavation (non destructive digging) to locate known and unknown underground utilities
                                        This method of excavation prevents damage to any underground services.
                                    </p>
                                    <a href="#" class="btn-link">
                                        <span class="fst" data-txt="Read More"></span>
                                        <span class="snd" data-txt="Read More"></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay=".3s">
                            <div class="thumbnail thumbnail4">
                                <img src="/Images/hydro-excavation-5.jpg" alt="">

                                <div class="caption">
                                    <h6>
                                        Debris Removal
                                    </h6>
                                    <p>
                                        With hydro excavation’s precise, non-destructive characteristics,
                                        it can be used to remove debris and clean out a variety of structures without damaging the surrounding area.
                                    </p>
                                    <a href="/" class="btn-link">
                                        <span class="fst" data-txt="Read More"></span>
                                        <span class="snd" data-txt="Read More"></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
}