@using Archetype.Models
@inherits UmbracoTemplatePage
@{
    var homePage = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "HomePage");
    if (homePage != null && homePage.Id > 0 && homePage.Descendants("servicesLanding").Any())
    {
        var servicePage = homePage.Descendants("servicesLanding").FirstOrDefault();
        if (servicePage != null && servicePage.Id > 0)
        {
            // get the default heading and replace it with the property value
            var serviceTitle = servicePage.Name;
            if (servicePage.HasProperty("pageHeading") && servicePage.HasValue("pageHeading"))
            {
                serviceTitle = servicePage.GetPropertyValue("pageHeading").ToString();
            }
            // get the default image and replace it with the property value
            var serviceImageUrl = "/images/Services.jpg";
            if (servicePage.HasProperty("headingImage") && servicePage.HasValue("headingImage"))
            {
                var mediaItem = Umbraco.TypedMedia(servicePage.GetPropertyValue("headingImage").ToString());
                if (mediaItem != null && mediaItem.Id > 0)
                {
                    serviceImageUrl = !string.IsNullOrEmpty(mediaItem.GetCropUrl("Slider")) ? mediaItem.GetCropUrl("Slider") : mediaItem.GetCropUrl(1500, 600);
                }
            }

            <section class="well well1 parallax text-center" data-url="@serviceImageUrl" data-mobile="true" data-speed="0.6">
                <div class="container">
                    <h2 class="fw-l">
                        @serviceTitle
                    </h2>

                    @if (servicePage.HasProperty("bodyText") && servicePage.HasValue("bodyText"))
                    {
                    @Html.Raw(servicePage.GetPropertyValue("bodyText"))
                    }

                    <a class="btn btn-primary" href="@servicePage.Url" title="@servicePage.Name">
                        Learn More
                    </a>
                </div>
            </section>

            if (servicePage.GetPropertyValue<ArchetypeModel>("servicesItems") != null)
            {
                var servicesSectionArchtype = servicePage.GetPropertyValue<ArchetypeModel>("servicesItems");
                if (servicesSectionArchtype.Fieldsets.Any())
                {
                    var firstSection = servicesSectionArchtype.First();
                    if (!string.IsNullOrEmpty(firstSection.GetValue("itemText")))
                    {
                        <section class="well well3 bg1">
                            <div class="container">
                                <h3 class="text-center">
                                    Our Services
                                </h3>

                                <div class="row">
                                    @foreach (var fieldset in servicesSectionArchtype)
                                    {
                                        var serviceItemText = fieldset.GetValue("itemText");
                                        var serviceIcon = fieldset.GetValue("itemIcon");
                                        if (string.IsNullOrWhiteSpace(serviceIcon))
                                        {
                                            serviceIcon = "fa-check-square-o";
                                        }
                                        <div class="col-sm-3 col-xs-6 serviceItem">
                                            <span class="fontAwesome icon @serviceIcon fa-2x fa-fw"></span>
                                            <span class="iconText">
                                                @serviceItemText
                                            </span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </section>
                    }
                }
            }
        }
    }
}
