@using Archetype.Models
@inherits UmbracoTemplatePage
@{
    var homePage = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "HomePage");
    if (homePage != null && homePage.Id > 0 && homePage.GetPropertyValue<ArchetypeModel>("footerItems") != null)
    {
        var homeFooterArchtype = homePage.GetPropertyValue<ArchetypeModel>("footerItems");
        if (homeFooterArchtype.Fieldsets.Any())
        {
            var firstSection = homeFooterArchtype.First();
            if (!string.IsNullOrEmpty(firstSection.GetValue("itemHeading")))
            {
                <section class="well well3">
                    <div class="container">
                        <div class="row">
                            @foreach (var fieldset in homeFooterArchtype)
                            {
                                var footerItemHeading = fieldset.GetValue("itemHeading");
                                var footerItemText = fieldset.GetValue("itemText");
                                var footerIcon = fieldset.GetValue("iconImage");
                                if (string.IsNullOrWhiteSpace(footerIcon))
                                {
                                    footerIcon = "fa-info";
                                }
                                <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInLeft text-center" data-wow-delay=".9s">
                                    <span class="fontAwesome icon @footerIcon fa-5x fa-fw"></span>
                                    @if (!string.IsNullOrWhiteSpace(footerItemHeading))
                                    {
                                        <h5 class="ins_r">
                                            @footerItemHeading
                                        </h5>
                                    }

                                    @if (!string.IsNullOrWhiteSpace(footerItemText))
                                    {
                                        <p class="txt-light">
                                            @footerItemText
                                        </p>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </section>
            }
        }
    }
}
