@inherits UmbracoTemplatePage
@{
    <section class="well well1">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInLeft" data-wow-delay=".9s">
                    <img src="/Images/Project-Management.png" alt="" />
                    <h5 class="ins_r">
                        Project
                        Management
                    </h5>
                    <p class="txt-light">
                        We will plan everything for you from start to finish.
                    </p>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInLeft" data-wow-delay=".7s">
                    <img src="/Images/Building-Innovation.png" alt="" />
                    <h5 class="ins_r">
                        Building
                        Innovation
                    </h5>
                    <p class="txt-light">
                        We have the best equipment available for any job.
                    </p>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInLeft" data-wow-delay=".5s">
                    <img src="/Images/Inspection-Testing.png" alt="" />
                    <h5 class="ins_r">
                        Inspection
                        & Testing
                    </h5>
                    <p class="txt-light">
                        All inspection and testing is done to industry standard.
                    </p>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInLeft" data-wow-delay=".3s">
                    <img src="/Images/New-Technologies.png" alt="" />
                    <h5 class="ins_r">
                        New
                        Technologies
                    </h5>
                    <p class="txt-light">
                        With the latest technologies to hand, we use the latest and best equipment available.
                    </p>
                </div>
            </div>
        </div>
    </section>
}