@inherits UmbracoTemplatePage
@{
    <footer>
        <section class="well_foot-2 bg-secondary">
            <div class="container">
                <div class="rights">
                    <h1>
                        ApexVac<span>Solutions</span>
                    </h1> &#169; <span id="copyright-year">2016</span>&nbsp;
                    <a href="/">Privacy Policy</a>
                </div>
            </div>
        </section>
    </footer>
}