<?xml version="1.0" encoding="utf-8"?>
<optimus>
  <settings>
    <setting key="onlyAllowCssFilesInEditor" value="True" />
    <setting key="onlyAllowJsFilesInEditor" value="True" />
    <setting key="compileDynamicStyleSheetsToCss" value="True" />
    <setting key="compileDynamicJavaScriptToJs" value="True" />
    <setting key="ignoreCompilationDebug" value="True" />
  </settings>
  <bundles>
    <styleBundle virtualPath="~/bundles/sitecss" disableMinification="False">
      <include virtualPath="~/css/camera.css" />
      <include virtualPath="~/css/google-map.css" />
      <include virtualPath="~/css/mailform-sub.css" />
      <include virtualPath="~/css/search.css" />
      <include virtualPath="~/css/font-awesome.min.css" />
      <include virtualPath="~/css/animate.css" />
    </styleBundle>
    <scriptBundle virtualPath="~/bundles/sitescripts" disableMinification="True">
      <include virtualPath="~/scripts/jquery.js" />
      <include virtualPath="~/scripts/jquery-migrate-1.2.1.min.js" />
      <include virtualPath="~/scripts/rd-smoothscroll.min.js" />
      <include virtualPath="~/scripts/device.min.js" />
      <include virtualPath="~/scripts/bootstrap.js" />
      <include virtualPath="~/scripts/tm-scripts.js" />
      <include virtualPath="~/scripts/jquery.easing.1.3.js" />
      <include virtualPath="~/scripts/tmstickup.js" />
      <include virtualPath="~/scripts/jquery.ui.totop.js" />
      <include virtualPath="~/scripts/superfish.js" />
      <include virtualPath="~/scripts/jquery.rd-navbar.js" />
      <include virtualPath="~/scripts/TMSearch.js" />
      <include virtualPath="~/scripts/jquery.rd-parallax.js" />
    </scriptBundle>
  </bundles>
</optimus>