<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT SiteMaster ANY>
<!ATTLIST SiteMaster id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT StandardTextPage ANY>
<!ATTLIST StandardTextPage id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT servicesLanding ANY>
<!ATTLIST servicesLanding id ID #REQUIRED>
<!ELEMENT servicePage ANY>
<!ATTLIST servicePage id ID #REQUIRED>
<!ELEMENT GlobalSettings ANY>
<!ATTLIST GlobalSettings id ID #REQUIRED>
<!ELEMENT SiteDetails ANY>
<!ATTLIST SiteDetails id ID #REQUIRED>
<!ELEMENT SlidersContainer ANY>
<!ATTLIST SlidersContainer id ID #REQUIRED>
<!ELEMENT SliderItem ANY>
<!ATTLIST SliderItem id ID #REQUIRED>
]>
<root id="-1">
  <HomePage id="1062" key="9a1343a8-dd2d-4dc8-a504-b820263571c7" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-10-12T21:10:01" updateDate="2016-10-12T21:11:01" nodeName="Home" urlName="home" path="-1,1062" isDoc="" nodeType="1047" creatorName="Denford" writerName="Denford" writerID="0" template="1057" nodeTypeAlias="HomePage">
    <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
    <hideFromSideMenu>0</hideFromSideMenu>
    <hideFromMenu>0</hideFromMenu>
    <StandardTextPage id="1067" key="5c49c3e8-336b-4732-be03-a8a93865c273" parentID="1062" level="2" creatorID="0" sortOrder="0" createDate="2016-10-27T21:00:17" updateDate="2016-10-27T21:22:35" nodeName="About Us" urlName="about-us" path="-1,1062,1067" isDoc="" nodeType="1048" creatorName="Denford" writerName="Denford" writerID="0" template="1058" nodeTypeAlias="StandardTextPage">
      <linkTittle><![CDATA[About]]></linkTittle>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromSideMenu>0</hideFromSideMenu>
      <hideFromMenu>0</hideFromMenu>
    </StandardTextPage>
    <servicesLanding id="1068" key="f12904c9-cec8-486b-ba9f-e0cce456d081" parentID="1062" level="2" creatorID="0" sortOrder="1" createDate="2016-10-27T21:01:02" updateDate="2016-11-02T21:50:26" nodeName="Hydro Excavation Services" urlName="hydro-excavation-services" path="-1,1062,1068" isDoc="" nodeType="1050" creatorName="Denford" writerName="Denford" writerID="0" template="1060" nodeTypeAlias="servicesLanding">
      <linkTittle><![CDATA[Hydro Excavation]]></linkTittle>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromSideMenu>0</hideFromSideMenu>
      <hideFromMenu>0</hideFromMenu>
      <servicePage id="1070" key="145c3b69-e0c0-4bed-8209-9572ebae3fa1" parentID="1068" level="3" creatorID="0" sortOrder="0" createDate="2016-10-27T21:02:57" updateDate="2016-10-27T21:23:09" nodeName="Trenching" urlName="trenching" path="-1,1062,1068,1070" isDoc="" nodeType="1051" creatorName="Denford" writerName="Denford" writerID="0" template="1061" nodeTypeAlias="servicePage">
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromSideMenu>0</hideFromSideMenu>
        <hideFromMenu>0</hideFromMenu>
      </servicePage>
      <servicePage id="1071" key="f93492f0-095c-4cbd-87a8-42d8c9ae0231" parentID="1068" level="3" creatorID="0" sortOrder="1" createDate="2016-10-27T21:03:39" updateDate="2016-10-27T21:23:34" nodeName="Pot Holing" urlName="pot-holing" path="-1,1062,1068,1071" isDoc="" nodeType="1051" creatorName="Denford" writerName="Denford" writerID="0" template="1061" nodeTypeAlias="servicePage">
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromSideMenu>0</hideFromSideMenu>
        <hideFromMenu>0</hideFromMenu>
      </servicePage>
      <servicePage id="1072" key="16f9f334-34bd-43a5-80b2-fc28ea2e75b1" parentID="1068" level="3" creatorID="0" sortOrder="2" createDate="2016-10-27T21:04:18" updateDate="2016-10-27T21:23:57" nodeName="Debris Removal" urlName="debris-removal" path="-1,1062,1068,1072" isDoc="" nodeType="1051" creatorName="Denford" writerName="Denford" writerID="0" template="1061" nodeTypeAlias="servicePage">
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromSideMenu>0</hideFromSideMenu>
        <hideFromMenu>0</hideFromMenu>
      </servicePage>
      <servicePage id="1073" key="98d8e02e-79bb-4ec7-a77e-ef405b9ec45f" parentID="1068" level="3" creatorID="0" sortOrder="3" createDate="2016-10-27T21:04:49" updateDate="2016-10-27T21:24:22" nodeName="Exposing Utilities" urlName="exposing-utilities" path="-1,1062,1068,1073" isDoc="" nodeType="1051" creatorName="Denford" writerName="Denford" writerID="0" template="1061" nodeTypeAlias="servicePage">
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromSideMenu>0</hideFromSideMenu>
        <hideFromMenu>0</hideFromMenu>
      </servicePage>
    </servicesLanding>
    <contact id="1069" key="3297bc60-4b8d-42e8-8ec7-90cec8d4b358" parentID="1062" level="2" creatorID="0" sortOrder="2" createDate="2016-10-27T21:01:34" updateDate="2016-10-27T21:24:50" nodeName="Contact Us" urlName="contact-us" path="-1,1062,1069" isDoc="" nodeType="1049" creatorName="Denford" writerName="Denford" writerID="0" template="1059" nodeTypeAlias="contact">
      <linkTittle><![CDATA[Contact]]></linkTittle>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromSideMenu>0</hideFromSideMenu>
      <hideFromMenu>0</hideFromMenu>
    </contact>
  </HomePage>
  <GlobalSettings id="1063" key="a1998da8-110b-48f7-8dab-84d576a88194" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-10-26T21:00:23" updateDate="2016-10-26T21:00:23" nodeName="Settings" urlName="settings" path="-1,1063" isDoc="" nodeType="1052" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="GlobalSettings">
    <SiteDetails id="1064" key="77ab9e9e-64dc-475d-aadc-8dd26c03a3b1" parentID="1063" level="2" creatorID="0" sortOrder="0" createDate="2016-10-26T21:06:02" updateDate="2016-10-27T20:29:42" nodeName="General Details" urlName="general-details" path="-1,1063,1064" isDoc="" nodeType="1053" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SiteDetails">
      <siteEmailAddress><![CDATA[support@apexvacsolutions.com.au]]></siteEmailAddress>
      <siteName><![CDATA[Apex Vac Solutions]]></siteName>
      <defaultKeyWords><![CDATA[Hydro Excavation Services, Excavation, Adelaide]]></defaultKeyWords>
      <defaultMetaDescription><![CDATA[Apex Vac Solutions specialise in Hydro Excavation Services in Adelaide and surrounding areas.]]></defaultMetaDescription>
      <mainHeaderLogo><![CDATA[1066]]></mainHeaderLogo>
    </SiteDetails>
    <SlidersContainer id="1074" key="1d26f28a-04b4-46f9-983d-7b63cc18a0b8" parentID="1063" level="2" creatorID="0" sortOrder="1" createDate="2016-10-27T22:09:16" updateDate="2016-10-27T22:09:16" nodeName="Site Sliders" urlName="site-sliders" path="-1,1063,1074" isDoc="" nodeType="1054" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SlidersContainer">
      <SliderItem id="1075" key="6665b4cf-c467-464c-a588-ea0c241c7539" parentID="1074" level="3" creatorID="0" sortOrder="0" createDate="2016-10-27T22:14:06" updateDate="2016-11-02T21:50:03" nodeName="Services" urlName="services" path="-1,1063,1074,1075" isDoc="" nodeType="1055" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SliderItem">
        <sliderHeading><![CDATA[Hydro Excavation Services...]]></sliderHeading>
        <sliderImage><![CDATA[1077]]></sliderImage>
        <sliderLinkPage>1068</sliderLinkPage>
        <sliderText><![CDATA[For all your Hydro Excavation Services and more... ]]></sliderText>
      </SliderItem>
      <SliderItem id="1080" key="b6e873aa-d71a-49fe-91a1-0713189c5b69" parentID="1074" level="3" creatorID="0" sortOrder="1" createDate="2016-11-02T21:41:21" updateDate="2016-11-02T21:49:38" nodeName="Trenching" urlName="trenching" path="-1,1063,1074,1080" isDoc="" nodeType="1055" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SliderItem">
        <sliderHeading><![CDATA[Trenching Services]]></sliderHeading>
        <sliderImage><![CDATA[1078]]></sliderImage>
        <sliderLinkPage>1070</sliderLinkPage>
        <sliderText><![CDATA[Trenching uses pressurised water with simultaneous vacuum...]]></sliderText>
      </SliderItem>
      <SliderItem id="1081" key="a3f29500-e681-4abf-9f4c-247b62cd6b91" parentID="1074" level="3" creatorID="0" sortOrder="2" createDate="2016-11-02T21:43:36" updateDate="2016-11-02T21:49:11" nodeName="Pot Holing" urlName="pot-holing" path="-1,1063,1074,1081" isDoc="" nodeType="1055" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SliderItem">
        <sliderHeading><![CDATA[Pot Holing ]]></sliderHeading>
        <sliderImage><![CDATA[1079]]></sliderImage>
        <sliderLinkPage>1071</sliderLinkPage>
        <sliderText><![CDATA[Using hydro excavation to locate underground utilities...]]></sliderText>
      </SliderItem>
    </SlidersContainer>
  </GlobalSettings>
</root>